* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-rendering: optimizelegibility;
	font-smooth: auto;
	-webkit-font-smoothing: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

body {
	font-family: 'Source Sans Pro Regular', 'Open Sans', 'Liberation Sans', 'Nimbus Sans L', 'Trebuchet MS', 'Arial';
	font-weight: 300;
	color: hsl(0, 0%, 27%);
	/*background: #E1E3E4;*/
	/*background-color: #f1f1f1;*/
	/*background: hsl(52, 68%, 72%);*/
	background: #F9FFCB;
	/*background: #fff;*/
	/*background: #f4f4f8;*/
	background-image: url(../images/bckgd_body.png);
	background-repeat: repeat;
	background-attachment: fixed;
}

html, body {height:100%;overflow:auto}

#app {
	/*padding-top: 1rem;*/
	margin: 0 auto;
	width: 64rem;
	background-color: #FFF;
}

.nav{
	position: fixed;
	left: 0;
	top: 0;
}

.flex-container {
	/*! height: 100%; */
	padding: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	background-color: hsl(0, 0%, 100%);
}

.flex-container:nth-child(1) {
	/*! margin-bottom: 1rem; */
}

.logo-item {
	background-color: hsl(265, 6%, 42%);
	font-size: 1.6rem;
	text-align: center;
	padding: 1.6rem;
}
.logo {
	font-family: 'Lobster';
	font-size: 1.8rem;
	/*color: hsl(0, 0%, 20%);*/
	color: #fff;
}

.flex-item {
	font-size: 1.5rem;
	/*padding-right: 4rem;*/
	line-height: 1.5rem;
}

#overlay {
	visibility: hidden;
	position: absolute;
	width:64rem;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: #FFF;*/
	background: hsla(0, 0%, 100%, 0.95);
	/*padding: 10rem;*/
}

#overlay .flex-container,
#overaly .shortcuts{
	/*width: 64rem;*/
	height: auto;
	background: hsla(0, 0%, 100%, 0.85);
}

img{
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
	height: 6rem;
	width: 6rem;
	cursor: pointer;
	/*margin-right: 2rem;*/
	/*margin-left: 2rem;*/
	padding: 0.8rem;
	vertical-align: bottom;
}


.cheatsheet-box{
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	height: 4.6rem;
	width: 4.6rem;
	z-index: 1;
	display: inline;
	background-color: #48A0DC;
	border-radius: 50%;
	font-size: 4rem;
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	line-height: 4.6rem;
	color: #FFF;
}



.content {
	width: 100%;
	padding: 1rem;
}

.end-text,
.descripiton {
	font-size: 1.8rem;
	line-height: 2rem;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	color: hsl(231, 18%, 30%);
}

.descripiton {
	text-align: center;
}

.end-text{
	font-family: 'Inconsolata';
}

.end-text-title,
.end-text-details {
	font-size: 1rem;
	text-align: center;
	color: hsl(231, 18%, 66%);
}

.row {
	width: auto;
}

.shortcuts, .counters {
	max-width: 60rem;
	margin: 0 auto;
	/* padding-bottom: 3rem; */
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	font-weight: 300;
}

.shortcut-item {
	width: 12rem;
	height: auto;
	margin: 1rem;
	text-align: justify;
/*! background: #ddd; */
}

.counter{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	margin: 1rem;
	background-color: hsl(231, 18%, 90%);
}

.key{
	background: #EEE;
	font-weight: bold;
	padding: 1rem;
	margin-bottom: 0.6rem;
}



a {
	text-decoration: none;
	display: inline-block;
	transition: all 400ms;
	color: #FFF;
}

a:hover {
	/*color: hsl(231, 18%, 66%);*/
	/*border-bottom: solid 0.05rem hsl(54, 96%, 85%);*/
}

a:active {
	color: hsl(231, 18%, 66%);
}
.link{
	color: hsl(231, 18%, 66%);
}
.input {
	padding: 1rem;
	font-size: 1.8rem;
	color: hsl(231, 10%, 37%);
	margin: 0 0px 0px;
	width: 100%;
	height: auto;
	overflow: visible;
	background-color: hsl(66, 100%, 90%);
	border: 0px solid hsl(0, 0%, 100%);
	transition: all 400ms;
	font-family: 'Inconsolata';
	resize: none;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0%;
	}
	50% {
		opacity: 50%;
	}
	100% {
		opacity: 100%;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0%;
	}
	50% {
		opacity: 50%;
	}
	100% {
		opacity: 100%;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0%;
	}
	50% {
		opacity: 50%;
	}
	100% {
		opacity: 100%;
	}
}

.end-text {
	-webkit-animation: fadeIn 1.6s 1;
	-moz-animation: fadeIn 1.6s 1;
	-ms-animation: fadeIn 1.6s 1;
}

footer {
	position: fixed;
	bottom: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;;
	width: 100%;
	/*bottom: 1rem;*/
	/*color: hsl(230, 18%, 86%);*/
	/*background: #FFF;*/
}


/*for burger menu*/
.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 36px;
	top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: hsl(0, 10%, 45%);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: hsl(204, 8%, 76%);
}

/* General sidebar styles */
.bm-menu {
	background: hsl(0, 10%, 15%);
	padding: 2.5em 1.5em 0;
   font-size: 1.15em;
}


/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: hsl(228, 12%, 24%);
}

/* Wrapper for item list */
.bm-item-list {
	color: hsl(54, 7%, 70%);
	padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}
