* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-rendering: optimizelegibility;
	font-smooth: auto;
	-webkit-font-smoothing: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

body {
	font-family: 'Source Sans Pro Regular', 'Open Sans', 'Liberation Sans', 'Nimbus Sans L', 'Trebuchet MS', 'Arial';
	font-weight: 300;
	color: hsl(0, 0%, 36%);
	/*background: #E1E3E4;*/
	/*background-color: #f1f1f1;*/
	background: hsl(52, 68%, 72%);
	background: #fff;
	/*background: #f4f4f8;*/
}


#app {
	padding-top: 1rem;
	margin: 0 auto;
	width: 60rem;
}

.flex-container {
	height: 100%;
	padding: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	background-color: hsl(0, 0%, 100%);
}

.flex-container:nth-child(1) {
	margin-bottom: 1rem;
}

.logo-item {
	background-color: hsl(54, 96%, 75%);
	font-size: 1.6rem;
	text-align: center;
	padding: 1.6rem;
}
.logo {
	font-family: 'Lobster';
	font-size: 2rem;
	/*color: hsl(0, 0%, 20%);*/
	color: hsl(231, 28%, 46%);
}

.flex-item {
	font-size: 1.5rem;
	padding-right: 4rem;
	line-height: 1.5rem;
}



.content {
	width: 100%;
	padding: 1rem;
}

.end-text,
.changed-word,
.descripiton {
	font-size: 1.8rem;
	line-height: 2rem;
	padding-top: 0.4rem;
	padding-bottom: 1.2rem;
	color: hsl(231, 18%, 66%);
}

.descripiton {
	text-align: center;
}

.changed-word {
	color: hsl(138, 49%, 60%);
}

.end-text-title,
.end-text-details {
	font-size: 1rem;
	text-align: center;
	color: hsl(231, 18%, 66%);
}

.row {
	width: auto;
}

.shortcuts {
	max-width: 60rem;
	margin: 0 auto;
	/* padding-bottom: 3rem; */
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	font-weight: 300;
}

.shortcut-item {
	width: 11rem;
	height: 11rem;
	margin: 1rem;
	text-align: justify;
/*    background: #ddd;*/
}

.key{
	background: #EEE;
	font-weight: bold;
	padding: 1rem;
	margin-bottom: 0.6rem;
}



a {
	text-decoration: none;
	display: inline-block;
	transition: all 400ms;
	color: hsl(0, 0%, 36%);
}

a:hover {
	color: hsl(231, 18%, 66%);
	/*border-bottom: solid 0.05rem hsl(54, 96%, 85%);*/
}

a:active {
	color: hsl(231, 18%, 66%);
}
.input {
	padding: 1rem;
	font-size: 1.8rem;
	color: hsl(231, 10%, 37%);
	margin: 0 0px 0px;
	width: 100%;
	height: auto;
	overflow: auto;
	background-color: hsl(54, 96%, 90%);
	border: 0px solid hsl(0, 0%, 100%);
	transition: all 400ms;
	font-family: 'Source Sans Pro Regular';
	resize: none;
}

@-webkit-keyframes blink {
	0% {
		background: #fff;
	}
	50% {
		background: #fff;
	}
	100% {
		background: hsl(54, 96%, 90%);
		;
	}
}

@-moz-keyframes blink {
	0% {
		background: #fff;
	}
	50% {
		background: #fff;
	}
	100% {
		background: hsl(54, 96%, 90%);
		;
	}
}

@-ms-keyframes blink {
	0% {
		background: #fff;
	}
	50% {
		background: #fff;
	}
	100% {
		background: hsl(54, 96%, 90%);
		;
	}
}

.input {
	-webkit-animation: blink 1s 1;
	-moz-animation: blink 1s 1;
	-ms-animation: blink 1s 1;
}

footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	width: 100%;
	bottom: 1rem;
}


/*for burger menu*/
.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 36px;
	top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: hsl(0, 10%, 45%);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: hsl(204, 8%, 76%);
}

/* General sidebar styles */
.bm-menu {
	background: hsl(0, 10%, 15%);
	padding: 2.5em 1.5em 0;
   font-size: 1.15em;
}


/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: hsl(228, 12%, 24%);
}

/* Wrapper for item list */
.bm-item-list {
	color: hsl(54, 7%, 70%);
	padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}
