@keyframes enter{
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	80%{
		opacity: 1;
		transform: scale(1);
	}
}


* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-rendering: optimizelegibility;
	font-smooth: auto;
	-webkit-font-smoothing: auto;
}

html{
	font-size: 1em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

body {
	font-family: 'Source Sans Pro Regular', 'Open Sans', 'Liberation Sans', 'Nimbus Sans L', 'Trebuchet MS', 'Arial';
	font-weight: 300;
	padding: 0;
	/*color: hsl(0, 0%, 27%);*/
	color: #575757;
	background-repeat: repeat;
	background-attachment: fixed;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

h1, h2, h3, p, span{
	color: HSL(0, 0%, 35%);
}

h2 {
	height: 3rem;
	line-height: 3rem;
	border-bottom: 1px solid HSL(0, 0%, 85%);
	font-size: 2rem;
	margin-bottom: 1rem;
}

.sweet-alert h2{
	border: 0;
}

h2.complex-header {
	display:flex;
}

h2.complex-header span {
	font-size:2rem;
	line-height:3rem;
	flex-grow:1;
}

h3{
	line-height: 2rem;
	font-size: 1.25rem;
}

h3.complex-header {
	display: flex;
}

h3.complex-header span{
	line-height: 2rem;
	font-size: 1.25rem;
	flex-grow: 1;
}

#app {
	margin: 0 auto;
	width: 64rem;
	padding-bottom: 4rem;
	flex-grow: 1;
}

.main-view{
	background-color: #FFF;
	background-image: url(../images/bckgd_body.png);
	background-position: calc(50% + 8px) 0%;
	flex-grow: 1;
}

.nav{
	position: fixed;
	width: 16rem;
	left: 0;
	top: 0;
	background-color: #fff;
	padding: 0;
	display: inline-block;
	justify-content: center;
}

.flex-container {
	padding: 0 1rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
}
.link{

}

.nav-item .link{
	width: 100%;
	line-height: 2.8rem;
	font-size: 1.4rem;
	vertical-align: middle;
	color: hsl(231, 18%, 66%);
	padding: 0.2rem 1rem;
}

.nav-item .link:hover{
	background-color: #F9FFCB;
}

.logo-item {
	background-color: hsl(265, 6%, 42%);
	font-size: 1.6rem;
	text-align: center;
	padding: 1.6rem;
}
.logo {
	font-family: 'Lobster';
	font-size: 1.8rem;
	color: #fff;
}

#overlay {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 4rem;
}

#overlay .flex-container,
#overlay .shortcuts{
	display: table;
	margin: 0 auto;
}

#overlay .cancel{
	position: absolute;
	top: 1rem;
	font-size: 2rem;
	font-family: 'Inconsolata', monospace;
	vertical-align: bottom;
	cursor: pointer;
	width: 2rem;
	height: 2rem;
}

#overlay table td:first-child {
	white-space: nowrap;
	font-size: 1rem;
}

#overlay table td:nth-child(2) {
	line-height:1.5rem;
	font-size: 1rem;
}

img{
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
	height: 3rem;
	width: 3rem;
	cursor: pointer;
	padding: 0.4rem;
}

.cheatsheet-box{
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	height: 4.6rem;
	width: 4.6rem;
	z-index: 1;
	display: inline;
	background-color: #48A0DC;
	border-radius: 50%;
	font-size: 4rem;
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	line-height: 4.6rem;
	color: #FFF;
	cursor: pointer;
}

.content {
	width: 100%;
	padding: 1rem;
	max-width:40rem;
	margin: 0 auto;
}

.shortcuts .content{
	max-width:60rem;
}

#overlay .content{
	height: calc(100vh - 10rem);
	overflow-y: scroll;
	padding: 0;
}

#overlay table{
	max-width: 45rem;
	margin: 0 4rem;
}

.end-text {
	padding: 1rem!important;
	background-color: white;
}

.end-text,
.descripiton {
	font-size: 1.8rem;
	line-height: 2rem;
	padding-top: 0;
	padding-bottom: 1.2rem;
	color: hsl(231, 18%, 30%);
}

.descripiton {
	text-align: center;
	color: #fff
}

.end-text-title,
.end-text-details {
	font-size: 1.4rem;
	text-align: center;
	color: hsl(231, 18%, 66%);
}

.selection{
	background-color: rgb(72, 160, 220);
	color: #FFF;
	font-size: inherit;
	background-image: url(../images/selection-right.png);
}

.selection.b{
	background-image:  url(../images/selection-left.png);
}


.blink {
    /* -webkit-animation: blink 1s linear infinite; */
    /* -moz-animation: blink 1s linear infinite; */
    /* -ms-animation: blink 1s linear infinite; */
    /* -o-animation: blink 1s linear infinite; */
    /* animation: blink 1s linear infinite; */
	height: 2rem;
	line-height: 2rem;
	color: rgb(72, 160, 220);
    background-color: rgb(72, 160, 220);
    width: 0.2rem;
    display: inline-block;
	vertical-align: top;
}

@keyframes blink {
  0% { opacity: 0.0; }
  99% { opacity: 0.99; }
}

.row {
	width: auto;
}

.shortcuts, .counters {
	/*! max-width: 60rem; */
	margin: 0 auto;
	background: HSL(268, 6%, 28%);
	color: #fff;
	border-radius: 0.4rem;
	padding: 2rem;
}

table{
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-collapse: collapse;
}

table, thead{
}

td {
    min-width: 12rem;
	padding-bottom: 1rem;
}

td:nth-child(2n+1){
	font-weight: bold;
	text-align: right;
	padding-right: 1rem;
}


thead td{
	font-weight: bold;
}

.counter{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	margin: 1rem;
	background-color: hsl(231, 18%, 90%);
}

.key{
	line-height: 1rem;
	height: 1.5rem;
	margin: .25rem 0;
	font-size:.8rem;
	display:inline-block;
	padding: 0 .5rem;
	color: #FFF;
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
	border-style: outset;
	background: hsl(265, 6%, 40%);
	border-color:  hsl(265, 6%, 40%);
}

a {
	text-decoration: none;
	display: inline-block;
	transition: all 400ms;
	color: hsl(0, 0%, 27%);
	cursor: pointer;
}

a:hover {

}

a:active {
	color: hsl(231, 18%, 66%);
}


.input, .end-text{
	min-height: 5rem;
	margin: 0;
	font-family: 'Inconsolata', monospace;
	border: 1px solid hsl(0, 0%, 80%);
	width: 100%;
	max-width: none;
}

.input {
	padding: 1rem;
	font-size: 1.8rem;
	line-height: 2rem;
	color: hsl(231, 10%, 37%);
	overflow: visible;
	background-color: #F9FFCB;
	transition: all 400ms;
	resize: none;
	vertical-align:bottom;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0%;
	}
	50% {
		opacity: 50%;
	}
	100% {
		opacity: 100%;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0%;
	}
	50% {
		opacity: 50%;
	}
	100% {
		opacity: 100%;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0%;
	}
	50% {
		opacity: 50%;
	}
	100% {
		opacity: 100%;
	}
}

.end-text {
	/*-webkit-animation: fadeIn 1.6s 1;
	-moz-animation: fadeIn 1.6s 1;
	-ms-animation: fadeIn 1.6s 1;*/
}

footer {
	bottom: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;;
	width: 100%;
}

@media all and (max-width: 80rem) {
	/*For presentation*/
}

.nav{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #fff;
	padding: 0;
	display: flex;
}
#app{
	width: 100%;
}

.steps-list{
	padding-left: 0;
}

.steps-list li{
	display: inline-block;
	margin-right: .5rem;
}

.tasklist{
	list-style: none;
	padding: 0 1rem;
	max-width: none;
}

.task-li{
	font-size: 1.5rem;
	line-height: 2rem;
	background-color: white;
	border: 1px solid #bcbcbc;
	margin-bottom: 1rem;
	box-sizing: border-box;
	height: 4rem;
	box-shadow: 2px 2px 1px rgba(106, 100, 113, 0.1);
	transition: transform 100ms;
	max-width: none;
	animation: enter 400ms;
	animation-fill-mode: backwards;
	animation-timing-function: cubic-bezier(.17,.22,.7,3);
}

.task-li:hover{
	transform: scale(1.05);
}

.tasklist li a{
	padding: 1rem;
	display: inline-block;
	height: 100%;
	width: 100%;
	line-height: 2rem;
	color: hsl(268, 6%, 45%);
	font-weight:bold;
	font-size: 1.5rem;
}

input.task-title{
	height: 3rem;
	font-size: 1.3rem;
}

button {
	font-size: 1rem;
	height: 2rem;
}

.button-wrapper{
	line-height:3rem;
	height:3rem;
}

.main-column{
	display:flex;
	flex-flow: column nowrap;
	height: 100%;
    min-height: calc(100vh - 7rem);
}

.steps-count{
	text-align: right;
	font-weight: normal;
}

select{
	height: 2rem;
	margin: 0px;
	line-height: 2rem;
	font-size: 0.9rem;
	padding: 0 1rem;
}

.resource-list{
	list-style: none;
	outline: 1rem solid rgb(106, 100, 113);
	margin-left: 1rem;
	padding-left: 0;
}

.ranking-entry{
	max-width: 32rem;
	background-color: rgba(255, 255, 255, 0.67);
	border-bottom: 1px solid #797979;
	margin-bottom: -1px;
	line-height: 3rem;
	font-size: 1.5rem;
	padding: 1rem;
	display:flex;
	animation: enter 200ms;
	animation-fill-mode: backwards;
}

.ranking-entry:last-child{
	border: 0;
	margin-bottom: 0;
}

.ranking-entry span{
	line-height: 3rem;
	font-size: 1.5rem;
}

.ranking-entry .nick {
	flex-grow: 1;
}

.ranking-entry .index {
	width: 3rem;
}

.ranking-entry .score{
	text-align:right;
}

.ranking-container{
	height:100%;
	background-image: url("/images/winner.svg");
	background-repeat: no-repeat;
	background-position: 75% 0%;
	background-size: auto 100%;
}

.medal-container{
	width:3rem;
}


@keyframes jump{
	0% {
		transform: translateY(0);
	}
	7%{
		transform: scaleY(0.8) scaleX(1.2) translateY(2px);
	}
	10%{
		transform: scaleY(0.8) scaleX(1.2) translateY(2px);
	}
	19%{
		transform: scaleX(0.9) scaleY(1.1) translateY(-.5rem);
	}
	37% {
		transform: translateY(-1rem);
	}
	55%{
		transform: scaleX(0.9) scaleY(1.1) translateY(-.5rem);
	}
	70%{
		transform: scaleY(0.8) scaleX(1.2) translateY(2px);
	}
	100%{
		transform: translateY(0);
	}
}

.loading-container{
	text-align: center;
	padding-top: 4rem;
}

.loading-box{
	width: 1rem;
	height: 1rem;
	background-color: hsl(268, 40%, 42%);
	display: inline-block;
	vertical-align: bottom;
	animation: jump 700ms;
	animation-iteration-count: infinite;
}

.loading-shadow {
	display: inline-block;
	margin-right: 1rem;
	width: 1rem;
	margin-left: -1rem;
	width: 1rem;
	box-shadow: 0px 4px 2px 1px rgba(0, 0, 0, 0.16);
}


.loading-text{
	margin-top: 1rem;
	font-size: 1.5rem;
	line-height: 2rem;
}